
.form-control {
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    *{  transition: all 1s ease; pointer-events: none;}
  }
  button .icon.sent{
    transform: translateX(250%);
  }
  button[type="submit"]:active{
    .icon{
      transform: translateX(-100%) !important;
    }
  }
  button[type="submit"]:hover {
    background-color: #0256b0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    .icon:not(.sent){
      transform: translateX(-50%);
    }
  }
  