/* components/Products.css */
.products-container {
    margin-top: 50px;
    padding: 0 15px;
  }
  
  .product-card-container {
    margin: 15px;
  }
  
  .product-card {
    width: 100%;
    max-width: 300px;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-icon {
    font-size: 2rem;
    margin-top: 10px;
  }
  
  .products-container h1 {
    margin-bottom: 20px;
  }
  
  .products-container p.lead {
    margin-bottom: 40px;
  }
  