
.contact-form-container form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.contact-form-container h2 {
  margin-bottom: 20px;
}

.contact-form-container .lead {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
}

