.d-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.d-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate-90 {
  transform: rotate(90deg);
  transform-origin: left top;
}

.rotate-180 {
  transform: rotate(180deg);
  transform-origin: left top;
}
.rotate-270 {
  transform: rotate(270deg);
  transform-origin: left top;
}
.rotate-360 {
  transform: rotate(360deg);
  transform-origin: left top;
}
.w-min {
  width: min-content;
}
.h-min{
  width: min-content;
}
.on-hover-opacity-1{
  opacity: 1 !important;
}
/* custom.css */
@media only screen and (min-width: 870px) {
  .d-870-none{
    display: none !important;
  }
  .d-870-block{
    display: block !important;
  }
}
.d-none-n-imp {
  display: none;
}
.d-block-n-imp {
  display: block;
}
@media only screen and (min-width: 400px) {
  .d-vsm-block {
    display: block !important;
  }
  .d-vsm-none {
    display: none !important;
  }
}
.unlink{
  text-decoration: none;
  color: inherit !important;
}